body {
    text-align: center;
}
.whitebox, img {
    text-align: center;
    border-radius: 20px;
}
.whitebox {
    background-color: white;
    width: 350px;
    height: 570px;
    position: absolute;
    left: 40%;
    top:18%;
}
.whitebox h1 {
    font-family: Outfit, sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-left:10px;
    margin: 25px
}
.whitebox p {
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
    margin: 25px;
    letter-spacing: 2px;
    color: #666

}
.bg {
    background-color:#D5E1EF ;
    width: 100%;
    height: 100vh;
    position:relative;
    box-shadow: 0 20px 20px -2px lightgrey;
}

img {
    width: 90%;
    height: 90%;
    padding: 10px;
    position: relative;
    margin-top: 5px;
}

.rodape {
    font-size: 18px;
    bottom: -2%;
    left: 49%;
    position:absolute;
}
